In [8]:
#when inplace = False
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['P', 'Q', 'R', 'S'])
print(df)

   P  Q   R   S
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [9]:
#inplace is False
df.drop('P', axis=1, inplace = False)

   Q   R   S
0  1   2   3
1  5   6   7
2  9  10  11

In [10]:
#df did not changed.
df

   P  Q   R   S
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [11]:
#when inplace = True
import pandas as pd
import numpy as np

df = pd.DataFrame(np.arange(12).reshape(3, 4),
                  columns=['P', 'Q', 'R', 'S'])
print(df)

   P  Q   R   S
0  0  1   2   3
1  4  5   6   7
2  8  9  10  11

In [12]:
#inplace is False
df.drop('P', axis=1, inplace = True)

In [13]:
#df changed
df

   Q   R   S
0  1   2   3
1  5   6   7
2  9  10  11