In [1]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_iris

#get data
loadIris = load_iris()

#cleaning data
iris = pd.DataFrame(data= np.c_[loadIris['data'], loadIris['target']],
columns= loadIris['feature_names'] + ['target'])
iris['species'] = pd.Categorical.from_codes(loadIris.target, loadIris.target_names)
iris.drop('target',axis=1,inplace=True)
iris.head()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [2]:
iris.tail()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),species
145,6.7,3.0,5.2,2.3,virginica
146,6.3,2.5,5.0,1.9,virginica
147,6.5,3.0,5.2,2.0,virginica
148,6.2,3.4,5.4,2.3,virginica
149,5.9,3.0,5.1,1.8,virginica

In [6]:
a, b = 10, 11
print(f"{a,b}")
print('a : %x and b: %X' %(a, b))

(10, 11)
a : a and b: B